
@{
    ViewData["Title"] = "Bikes";
}

<center>
    <h1>Bikes</h1>
    <hr />
    <div>
        <a class="btn btn-dark" asp-controller="Bikes" asp-action="Index" role="button">View Bikes</a>
    </div>
</center>
