
@{
    ViewData["Title"] = "AdminIndex";
}

<center>
    <h1 class="display-4">PedalHub Administrator Dashboard</h1>
    <hr />
    <div>
        <a class="btn btn-dark" asp-controller="Bikes" role="button">View Bikes</a>
    </div>
</center>