@using Microsoft.AspNetCore.Identity
@using PedalHub.Areas.Identity.Data

@inject SignInManager<PedalHubUser> SignInManager
@inject UserManager<PedalHubUser> UserManager

@{
    ViewData["Title"] = "Welcome";
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">PedalHub Customer Dashboard</h1>
        <hr />
        <div>
            <a class="btn btn-dark" asp-controller="Bikes" role="button">View Bikes</a>
        </div>
        <div class="my-3">
            <a class="btn btn-dark" asp-controller="Reservations" role="button">View Reservations</a>
        </div>
        <div>
            <a class="btn btn-dark" asp-controller="Rentals" role="button">View Rentals</a>
        </div>
    } 
    else
    {    
        <h1 class="display-4">Welcome to PedalHub!</h1>
        <p>Please register or login to begin renting bicycles.</p>
    }
</div>
