@using Microsoft.AspNetCore.Identity
@using PedalHub.Areas.Identity.Data

@inject SignInManager<PedalHubUser> SignInManager
@inject UserManager<PedalHubUser> UserManager

@{
    ViewData["Title"] = "Welcome";
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (user.Type.Equals("Administrator"))
        {
            <h1 class="display-4">PedalHub Administrator Dashboard</h1>
        }
        else
        {
            <h1 class="display-4">PedalHub Customer Dashboard</h1>
        }
    } 
    else
    {    
        <h1 class="display-4">Welcome to PedalHub!</h1>
        <p>Please register or login to begin renting bicycles.</p>
    }
</div>
